.carousel-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #C8BDAF;
  overflow: hidden;
}

.carousel-container a {
  color: #1A120F;
}

.carousel-container a:hover {
  color: #00000098;
}

.carousel-container h2 {
  font-size: clamp(1rem, 4vw, 4rem);
  margin-bottom: 2rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  white-space: nowrap;
  max-width: 100%;
  color: #1A120F;
}

.carousel-container h2::after {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  max-width: 1500px;
  height: 2px;
  background-color: #1A120F;
  border-radius: 2px;
  content: "";
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.custom-prev,
.custom-next {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: black;
}

.custom-prev:focus:not(:focus-visible),
.custom-next:focus:not(:focus-visible) {
  outline: none;
}

.swiper {
  flex: 1;
  overflow: hidden;
}

.swiper-slide-active .event-card {
  transform: translateY(-1rem) scale(1.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card {
  text-align: left;
  color: #1A120F;
}

.event-card h3 {
  margin: 0.1rem 0;
  font-size: 1.5rem;
}

.event-card img {
  width: 100%;
  aspect-ratio: 2 / 5;
  object-fit: cover;
  max-height: 55vh;
}

.date {
  font-weight: bold;
  font-size: 1.25rem;
}

.description {
  margin-top: 0.1rem;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.view-all button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: #1A120F;
  color: white;
  border: none;
  cursor: pointer;
}

/* Responsive layout for smaller screens */
@media (max-width: 1024px) {
  .carousel-container h2::after {
    width: clamp(80px, 40%, 300px);
    background-color: black;
  }

  .event-card {
    padding-top: 1.5rem;
    margin-left: 0.2rem;
  }

  .event-card h3,
  .description {
    margin-left: 0.2rem;
    font-size: clamp(1rem, 1.8vw, 1.5rem);
  }

  .description {
    font-size: 1.25rem;
  }
}

/* Phones, foldables, smart displays */
@media (max-height: 700px), (max-width: 480px) {
  .carousel-container h2 {
    font-size: clamp(0.8rem, 5vw, 2rem);
    padding: 0 2rem;
    margin-bottom: 1rem;
  }

  .carousel-container p {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }

  .view-all button {
    font-size: clamp(0.8rem, 5vw, 2rem);
  }
}

/* Tablets only */
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-container h2 {
    font-size: clamp(0.8rem, 5vw, 4.5rem);
  }

  .carousel-container p {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    line-height: 1.6;
  }

  .view-all button {
    font-size: clamp(0.8rem, 5vw, 4.5rem);
  }
}

/* Landscape phones, foldables, smart displays */
@media (max-width: 1024px) and (max-height: 600px) {
  .carousel-container {
    padding: 0.5rem;
  }

  .carousel-container h2 {
    font-size: clamp(0.8rem, 5vw, 4rem);
    margin-bottom: 0.5rem;
  }

  .carousel-container p {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }

  .view-all button {
    font-size: clamp(0.8rem, 5vw, 4rem);
  }
}

/* Larger tablets and small desktops */
@media (max-width: 1280px) and (max-height: 800px) {
  .carousel-container {
    padding: 0.5rem 2rem;
  }

  .carousel-container h2 {
    font-size: clamp(0.8rem, 3vw, 4rem);
    margin-bottom: 0.5rem;
  }

  .carousel-container p {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }

  .view-all button {
    font-size: clamp(0.5rem, 2vw, 3rem);
  }

  .event-card h3 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }
}
