.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('../../assets/hero-image.jpg') no-repeat center center / cover;
  display: flex;
  align-items: center;
  color: white;
}

.hero-content {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero h1 {
  font-size: 4rem;
  font-family: 'Cinzel', serif;
  margin-bottom: 1rem;
  font-weight: bold;
}

.quote {
  font-weight: bold;
  text-align: center;
}

.hero p {
  font-size: 2rem;
  margin: 0.5rem 0;
  line-height: 1.2;
  text-align: center;
}

.arrow-down {
  font-size: 2rem;
  animation: bounce 2s infinite;
  cursor: pointer;
}

/* bounce animation for arrow */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(10px); }
  60% { transform: translateY(5px); }
}
